<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17810288452-vh6r9catuaq6panr1ghoaak7f98q81ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17810288452-vh6r9catuaq6panr1ghoaak7f98q81ag</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>17810288452-kmakkfu97td1taoenoc9rl68pusf5mt6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJw2mlu1Ew9vwrqU3llzLpThZ92XXGwUw</string>
	<key>GCM_SENDER_ID</key>
	<string>17810288452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.sass-hoplong</string>
	<key>PROJECT_ID</key>
	<string>notificationtest-b080f</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationtest-b080f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17810288452:ios:6197503a66dd9ba0b57111</string>
</dict>
</plist>